# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VGDProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Jacopo Mereu\Desktop\Jacopo\universita\Anni\3\VGD\UnityProgrammi\VGDProject\.idea\.idea.VGDProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
